body{
    color: rgb(255, 255, 255);
    background-image: url("./img/Background2.jpg");
    background-size: 1080px 1125px;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
  
    font-family: 'Arial', Helvetica sans-serif;
}

ul{

    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;

}

a{
    text-decoration: none;
    color: rgb(240, 74, 9);
    font-size: 25px;
    bottom: 0;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #59595a;


}
.center{
    text-align: center;
}
h1 {
    font-size: 30px;
    text-align: center;
    color: rgb(255, 248, 248);
      
}
h2 {
    font-size: 19px;
    color: rgb(240, 74, 9);
    text-align: center;
}

footer img{
 nav-down: 60px;
    width: 60px;
    height: 60px;
}
footer {
    display: flex;
    justify-content: center;
}
footer a {
    margin: 20px;
    text-align: center;
}
footer p {
    margin-top: 2px;
}
